body {
  color: white;
  background-color: rgb(144, 177, 91);
  overflow: hidden;
}


.wrapper {
  display: flex;
  flex-flow: row-reverse;
  justify-content: center;
}

.title {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 3rem;
  text-align: center;
  letter-spacing: 5px;
  margin-bottom: 1rem;
  color: rgb(34, 34, 34);
}

.sub-title {
  font-family: monospace;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: -2rem;
}

#rules {
  margin-left: 5%;
  font-family: monospace;
  letter-spacing: 2.5px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  color: rgb(34, 34, 34);
}

.game-area {
  position: relative;
  margin: auto;
  width: 30rem;
  height: 30rem;
  border: 5px solid #000;
  background-color: rgb(144, 177, 91);
  margin-bottom: 1rem;
}

.game-container {
  display: flex;
  flex-flow: column;
}

.snake-dot {
  position: absolute;
  width: 4%;
  height: 4%;
  background-color: rgb(34, 34, 34);
  z-index: 2;
}

.snake-food {
  position: absolute;
  width: 4%;
  height: 4%;
  background-color: rgb(34, 34, 34);
  z-index: 1;
}

#score {
  font-family: monospace;
  text-align: center;
  position: relative;
  z-index: 3;
  color: rgb(34, 34, 34);
}

#game-over {
  display: none;
  color: rgb(34, 34, 34);
  font-family: monospace;
  letter-spacing: 2.5px;
  justify-content: center;
  text-align: center;
}

#replay {
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 1rem;
  width: 50%;
  border: 5px solid black;
  color: rgb(34, 34, 34);
  font-size: 1rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 2.5px;
  border-radius: 5px;
  background-color: rgb(119, 146, 75);
  position: relative;
  z-index: 3;
  outline: none;
}

#play {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 25%;
  padding: 1rem;
  width: 50%;
  border: 5px solid black;
  color: rgb(34, 34, 34);
  font-size: 1rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 2.5px;
  border-radius: 5px;
  background-color: rgb(119, 146, 75);
  position: relative;
  z-index: 3;
  outline: none;
}

#replay:hover {
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 1rem;
  width: 50%;
  border: 5px solid black;
  color: black;
  font-size: 1.6rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 3px;
  border-radius: 5px;
  background-color: rgb(105, 129, 66);
  position: relative;
  z-index: 3;
}

@media only screen and (max-width: 1000px) {
  .game-area {
    position: relative;
    margin: auto;
    width: 50rem;
    height: 50rem;
    border: 5px solid #000;
    background-color: rgb(144, 177, 91);
    margin-bottom: 1rem;
  }

  .wrapper {
    display: flex;
    flex-flow: column-reverse;
    justify-content: center;
  }
}

@media only screen and (max-width: 600px) {
  .game-area {
    position: relative;
    margin: auto;
    width: 25rem;
    height: 25rem;
    border: 2px solid #000;
    background-color: rgb(0, 0, 0);
    margin-bottom: 1rem;
    border-radius: 25px;
  }

  .wrapper {
    display: flex;
    flex-flow: column-reverse;
    justify-content: center;
  }
}